# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/public/hero_movie1.mp4
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*
.env*
.venv
# firebase
firebase-debug.log
firestore-debug.log
docs/_build
public/robosub2025/*

public/autonomy-docs/*
!public/autonomy-docs/_images/
public/autonomy-docs/_images/*

!public/autonomy-docs/_images/electrical_working1.webp
!public/robosub2025/RoboSub2025Dump (4).jpg
!public/robosub2025/RoboSub2025Dump (8).MOV
!public/robosub2025/RoboSub2025Dump (20).MP4
!public/robosub2025/RoboSub2025Dump (32).MP4
!public/robosub2025/RoboSub2025Dump (37).MP4
!public/robosub2025/RoboSub2025Dump (47).MP4
!public/robosub2025/RoboSub2025Dump (56).MP4
!public/robosub2025/RoboSub2025Dump (65).MP4
!public/robosub2025/RoboSub2025Dump (69).JPEG
!public/robosub2025/RoboSub2025Dump (183).MOV
!public/robosub2025/RoboSub2025Dump (246).JPEG
!public/robosub2025/RoboSub2025Dump (305).MOV